{% extends 'bootstrap/base.html' %}

<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>REAL,RELIABLE NEWS</title>
    {% endif %}
  </head>

  <body background="./static/images/background.webp">
    <!-- Content Block -->
    {% block content %} {% endblock %}

    <!-- Navbar block  -->
    {% block navbar %} {% include 'navbar.html' %} {% endblock %}

  </body>

</html>
